.product img{
    width: 286px;
    height: 286px;

}
.product-info{
    margin: 7px;
}
.product-info p{
    margin-bottom: 0;
}
.product{
    width: 300px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    /* padding: 10px; */
    position: relative;
    margin: 20px;
}
.product-name{
    font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;
margin-top: 10px;
}
.cart-btn{
    width: 100%;
    background-color: bisque;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn:hover{
    background-color: orange;
}